@model IEnumerable<CrdFortes.MVC.ViewModels.OperacaoViewModel>

@{
    ViewBag.Title = "Lista de Receitas";
}
<header class="page-header">
    <h2>Receitas</h2>
</header>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <p>
                        @Html.ActionLink("Nova Receita", "Create")
                    </p>
                </div>

                <h2 class="panel-title">Lista de Receitas</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-6 form-group">
                            @Html.TextBox("Categoria", null, new { id = "categoria", @class = "form-control ", placeholder = "Categoria" })
                        </div>

                        <div class="col-md-2 form-group">
                            @Html.TextBox("DataInicial", null, new { @id = "dataInicio", @class = "form-control data", placeholder = "Data Inicial" })
                        </div>


                        <div class="col-md-2 form-group">
                            @Html.TextBox("DataFinal", null, new { @id = "dataFinal", @class = "form-control data", placeholder = "Data Final" })
                        </div>

                        <div class="col-md-2 form-group">
                            <input type="submit" value="Filtrar" class="btn btn-default">
                        </div>
                    }

                </div>
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Observacao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Categoria)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Valor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataCadastro)
                                </th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observacao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categoria)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataCadastro)
                                    </td>
                                    <td>
                                        <a href='@Url.Action("Edit", "Receitas", new { id = item.OperacaoId })'>
                                            <i class="fa fa-pencil"></i>
                                        </a> | 
                                        <a href='@Url.Action("Delete", "Receitas", new { id = item.OperacaoId })'>
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $(document).ready(function () {
        $('.data').mask('00/00/0000');
    });

    </script>

}
