<!doctype html>
<html class="fixed">
<head>

    <meta charset="UTF-8">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @Styles.Render("~/Content/cssTemplate")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section class="body">

        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/Content/LogoMarca/logo.png" width="90" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="header-right">
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                        <span class="name">Antonio Gentil</span>
                        <span class="role">desenvolvedor</span>
                    </div>
                </div>
            </div>

        </header>

        <div class="inner-wrapper">
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Menu
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="/">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="/Receitas" >
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span>Receitas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Despesas" >
                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                        <span>Operacao</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Relatorios">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        <span>Relatórios</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                </div>
            </aside>

            <section role="main" class="content-body">
                
                
                @RenderBody()
            </section>
        </div>
    </section>  

    @Scripts.Render("~/bundles/templatejs")
    @RenderSection("scripts", required: false)

</body>
</html>
