@model CrdFortes.MVC.ViewModels.OperacaoViewModel

@{
    ViewBag.Title = "Deletar Despesa";
}

<header class="page-header">
    <h2>Operacao</h2>
</header>


<div class="row">

    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Deletar Despesa</h2>
                <p class="panel-subtitle">Deseja deletar essa despesa?</p>
            </header>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Observacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Observacao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categoria)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Valor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Valor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataCadastro)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Deletar" class="btn btn-default" /> |
                        @Html.ActionLink("Cancelar", "Index")
                    </div>
                }
            </div>
        </section>
    </div>
</div>

