
@{
    ViewBag.Title = "Relatórios";
}
<header class="page-header">
    <h2>Relatórios</h2>
</header>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-6 form-group">
                            @Html.DropDownList("categoria", null, new { @id = "categoria", @name = "categoria", @class = "form-control ", placeholder = "Categoria" })
                        </div>

                        <div class="col-md-2 form-group">
                            @Html.TextBox("DataInicial", null, new { @id = "dataInicio", @name = "dataInicio", @class = "form-control data", placeholder = "Data Inicial" })
                        </div>


                        <div class="col-md-2 form-group">
                            @Html.TextBox("DataFinal", null, new { @id = "dataFinal", @name = "dataFinal", @class = "form-control data", placeholder = "Data Final" })
                        </div>

                        <div class="col-md-2 form-group">
                            <input data-bind="click: $root.filtrar" value="Filtrar" class="btn btn-twitter" style="width: 100px;" />
                        </div>
                    }

                </div>
                <div class="table-responsive">
                    
                    <table class="table mb-none" data-bind="visible: Operacoes().length > 0">
                        <thead>
                            <tr>
                                <th>Observacao</th>
                                <th>Data Cadastro</th>
                                <th>Tipo</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Operacoes">
                            <tr>
                                <td data-bind="text: Observacao"></td>
                                <td data-bind="text: moment(DataCadastro).format('DD/MM/YYYY')"></td>
                                <td data-bind="text: TipoOperacao"></td>
                                <td data-bind="text: Categoria"></td>
                                <td data-bind="text: formatCurrency(Valor)"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                     @*<span style="color: @(item.TipoOperacao.ToString() == "Despesa" ? "#ff0000" : "#47a447")">@Html.DisplayFor(modelItem => item.TipoOperacao)</span>*@
                                     
                              
                </div>
            </div>
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.data').mask('00/00/0000');
        });

    </script>


    @Scripts.Render("~/knockout/relatorio")

}
